body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #16092e; /* Color de fondo */
    color: #000000; /* Color del texto */
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #000000;
    overflow: hidden;
    text-align: center;
}

nav a {
    display: inline-block;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

.project-description {
    background-color: #ffffffb3; /* Color de fondo de la sección de descripción */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sutil sombra */
    margin-bottom: 20px;
}

.project-description h1 {
    color: #333; /* Color del título de la descripción */
}

.project-images img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #00000000;
    color: #fff;
    text-align: center;
    padding: auto;
    bottom: 0;
    width: 100%;
}
