body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/102/633/279/dark-gradient-artist-artwork-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 100vh;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #000000;
    overflow: hidden;
    text-align: center;
}

nav a {
    display: inline-block;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 10px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.project-card {
    background-color: #1f252b81;
    color: #ffffff;
    border-radius: 10px;
    padding: 15px; /* Ajuste del padding */
    margin: 15px; /* Ajuste del margin */
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project-card a {
    display: inline-block;
    background-color: #3498db82;
    color: #fff;
    padding: 8px 16px; /* Ajuste del padding */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.project-card a:hover {
    background-color: #3c6e8f;
}

.footer {
    background-color: #2c3e5000;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}

.footer a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    color: #3498db;
}

.icon {
    font-size: 64px;
    margin: 0 5px;
}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    .project-card {
        width: calc(100% - 30px); /* Restamos el doble del margin para evitar desbordamiento */
    }


    .footer {
        position: static;
    }
}
